/* .wacht-text ul.first li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #979797;
}

.wacht-text ul.first li a i {
    padding-left: 7px;
}

.wacht-text ul.first li {
    list-style: none;
    display: inline-block;
    padding-right: 6px;
}

.wacht-text ul.first {
    padding-left: 0px;
} */
.fullcalnederdiv {
  font-size: 0.7em !important;
}

.fc-left h2 {
  font-size: 0.7rem !important;
}

.fullcalnederdiv h2 {
  font-size: 0.7em !important;
  margin: 10px !important;
}

.fc .fc-toolbar>*> :first-child {
  font-size: 0.7em !important;
  margin: 10px !important;
}