/* .wacht-text ul.first li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #979797;
}

.wacht-text ul.first li a i {
    padding-left: 7px;
}

.wacht-text ul.first li {
    list-style: none;
    display: inline-block;
    padding-right: 6px;
}

.wacht-text ul.first {
    padding-left: 0px;
} */
