<app-header></app-header>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Fixed Layout
        <small>Blank example to the fixed layout</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Fixed</li>
      </ol>
    </section>
    <section class="content">
    <!-- Main content -->
    
        <div class="row">
            <!-- left column -->
            <div class="col-md-6 col-md-offset-3">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Change Password</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                  <div class="box-body">
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && f.oldpassword.errors }">
                        <label for="oldpassword" class="text-info" [ngClass]="{ 'control-label': submitted && f.oldpassword.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.oldpassword.errors }"></i> Enter Old Password</label><br>
                        <input type="password" formControlName="oldpassword" class="form-control" />
                            <div *ngIf="submitted && f.oldpassword.errors">
                                <span class="help-block" *ngIf="f.oldpassword.errors.required">Old Password is required</span>
                                <span class="help-block" *ngIf="f.oldpassword.errors.minlength">Password must be at least 6 characters</span>
                            </div>
                    </div>
                    <div class="form-group"  [ngClass]="{ 'has-error': submitted && f.password.errors }">
                        <label for="password" class="text-info" [ngClass]="{ 'control-label': submitted && f.password.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.password.errors }"></i> Enter New Password</label><br>
                        <input type="password" formControlName="password" class="form-control" />
                            <div *ngIf="submitted && f.password.errors" >
                                <span class="help-block" *ngIf="f.password.errors.required">New Password is required</span>
                                <span class="help-block" *ngIf="f.password.errors.minlength">New Password must be at least 6 characters</span>
                            </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && f.password_confirmation.errors }">
                        <label for="password_confirmation" class="text-info" [ngClass]="{ 'control-label': submitted && f.password_confirmation.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.password_confirmation.errors }"></i> Confirm Password</label><br>
                        <input type="password" formControlName="password_confirmation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
                        <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                            <span class="help-block" *ngIf="f.password_confirmation.errors.required">Confirm Password is required</span>
                            <span class="help-block" *ngIf="f.password_confirmation.errors.mustMatch">Passwords must match</span>
                        </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                  </div>
                </form>
              </div>
              <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
        
    <!-- /.content -->
    </section>
  </div>