<app-header></app-header>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Fixed Layout
        <small>Blank example to the fixed layout</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Fixed</li>
      </ol>
    </section>
    <section class="content">
    <!-- Main content -->
    
        <div class="row">
            <!-- left column -->
            <div class="col-md-8 col-md-offset-2">
              <!-- general form elements -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Update Spot</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
                  <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 img-cover">
                          <img class="img-responsive" *ngIf="user.user_cover" src="https://ibigo.shadowis.nl/server-api/public/user_cover/{{user.user_cover}}">
                          <img class="img-responsive" *ngIf="!user.user_cover" src="/assets/front-assets/images/group-bg2.png">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mb-4 text-center img-profile">
                          <img *ngIf="user.user_profile" src="https://ibigo.shadowis.nl/server-api/public/user_profiles/{{user.user_profile}}">
                          <img *ngIf="!user.user_profile" src="/assets/front-assets/images/pic1.png">
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" >
                                <div class="form-group" [ngClass]="{ 'has-error': submitted && f.business_type.errors }"><label class="text-info" ><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.business_type.errors }"></i> Account Type</label></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" formControlName="business_type" [value]="'basic'"/>
                                    Basic Account
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" formControlName="business_type" [value]="'premium'"/>
                                    Premium Account
                                    </label>
                                </div>
                                <div *ngIf="submitted && f.business_type.errors" [ngClass]="{ 'has-error': submitted && f.business_type.errors }" >
                                    <span class="help-block" *ngIf="f.business_type.errors.required">Choose an account type</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group"  [ngClass]="{ 'has-error': submitted && f.business_name.errors }">
                                <label for="business_name" class="text-info" [ngClass]="{ 'control-label': submitted && f.business_name.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.business_name.errors }"></i> Spot Name</label><br>
                                <input type="text" placeholder="Spot Name" formControlName="business_name" class="form-control" />
                                    <div *ngIf="submitted && f.business_name.errors" >
                                        <span class="help-block" *ngIf="f.business_name.errors.required">Spot Name is required</span>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.file.errors }">
                            <label for="file" class="text-info" [ngClass]="{ 'control-label': submitted && f.file.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.file.errors }"></i> Spot Profile</label><br>
                            <input 
                                formControlName="file"
                                id="file" 
                                type="file" 
                                class="form-control"
                                (change)="onFileChange($event)">
                            <div *ngIf="submitted && f.file.invalid">
                                <span class="help-block" *ngIf="f.file.errors.required">Profile is required.</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.cover.errors }">
                            <label for="cover" class="text-info" [ngClass]="{ 'control-label': submitted && f.cover.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.cover.errors }"></i> Spot Cover</label><br>
                            <input 
                                formControlName="cover"
                                id="cover" 
                                type="file" 
                                class="form-control"
                                (change)="onCoverChange($event)">
                            <div *ngIf="submitted && f.cover.invalid">
                                <span class="help-block" *ngIf="f.cover.errors.required">Cover is required.</span>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                   <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.short_description.errors }">
                                <label for="short_description" class="text-info" [ngClass]="{ 'control-label': submitted && f.short_description.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.short_description.errors }"></i> Short Description</label><br>
                                <textarea class="form-control" formControlName="short_description" rows="3" placeholder="Short Description"></textarea>
                                <div *ngIf="submitted && f.short_description.errors" class="invalid-feedback">
                                    <span class="help-block" *ngIf="f.short_description.errors.required">Short Description is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.user_about.errors }">
                                <label for="user_about" class="text-info" [ngClass]="{ 'control-label': submitted && f.user_about.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.user_about.errors }"></i> Description</label><br>
                                <textarea class="form-control" formControlName="user_about" rows="3" placeholder="Long Description"></textarea>
                                <div *ngIf="submitted && f.user_about.errors" class="invalid-feedback">
                                    <span class="help-block" *ngIf="f.user_about.errors.required">Long Description is required</span>
                                    <span class="help-block" *ngIf="f.user_about.errors?.maxlength">Long Description can be max 255 characters long for basic account.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div [ngClass]="(this.is_parking==true)?'col-lg-6':'col-lg-12'">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.full_address.errors }">
                                <label for="full_address" class="text-info" [ngClass]="{ 'control-label': submitted && f.full_address.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.full_address.errors }"></i> Spot Address</label><br>
                                <textarea class="form-control" formControlName="full_address" rows="3" placeholder="Spot Address"></textarea>
                                <div *ngIf="submitted && f.full_address.errors" class="invalid-feedback">
                                    <span class="help-block" *ngIf="f.full_address.errors.required">Spot Address is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="this.is_parking==true">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.parking_details.errors }">
                                <label for="parking_details" class="text-info" [ngClass]="{ 'control-label': submitted && f.parking_details.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.parking_details.errors }"></i> Spot Parking</label><br>
                                <textarea class="form-control" formControlName="parking_details" rows="3" placeholder="Spot Parking"></textarea>
                                <div *ngIf="submitted && f.parking_details.errors" class="invalid-feedback">
                                    <span class="help-block" *ngIf="f.parking_details.errors.required">Spot Parking is required</span>
                                </div>
                            </div>
                        </div>
                   </div>
                    
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group"  [ngClass]="{ 'has-error': submitted && f.email.errors }">
                                <label for="email" class="text-info" [ngClass]="{ 'control-label': submitted && f.email.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.email.errors }"></i> Email</label><br>
                                <input type="email" formControlName="email" placeholder="Email" class="form-control"  />
                                <div *ngIf="submitted && f.email.errors">
                                    <span class="help-block" *ngIf="f.email.errors.required">Email is required</span>
                                    <span class="help-block" *ngIf="f.email.errors.email">Email must be a valid email address</span>
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"  [ngClass]="{ 'has-error': submitted && f.mobile.errors }">
                              <label for="mobile" class="text-info" [ngClass]="{ 'control-label': submitted && f.mobile.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.mobile.errors }"></i> Mobile</label><br>
                              <ngx-intl-tel-input 
                              [cssClass]="'custom inpt-tel-admin'" 
                              [preferredCountries]="preferredCountries"
                              [enableAutoCountrySelect]="false" 
                              [enablePlaceholder]="true" 
                              [searchCountryFlag]="true"
                              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                              [selectFirstCountry]="false" 
                              [selectedCountryISO]="selectedCountry?selectedCountry:CountryISO.Netherlands"
                              [maxLength]="15" 
                              [tooltipField]="TooltipLabel.Name" 
                              [phoneValidation]="true" 
                              [separateDialCode]="true"
                              name="mobile" formControlName="mobile" >
                          </ngx-intl-tel-input>
                                  <div *ngIf="submitted && f.mobile.errors" >
                                      <span class="help-block" *ngIf="f.mobile.errors.required">Mobile is required</span>
                                      <span class="help-block" *ngIf="f.mobile.errors.validatePhoneNumber">Please enter valid number</span>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"  [ngClass]="{ 'has-error': submitted && f.phone_number.errors }">
                                <label for="phone_number" class="text-info" [ngClass]="{ 'control-label': submitted && f.phone_number.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.phone_number.errors }"></i> Spot Mobile</label><br>
                                <input type="text" placeholder="Spot Mobile" formControlName="phone_number" class="form-control" />
                                    <div *ngIf="submitted && f.phone_number.errors" >
                                        <span class="help-block" *ngIf="f.phone_number.errors.required">Spot Mobile is required</span>
                                    </div>
                              </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"  [ngClass]="{ 'has-error': submitted && f.password.errors }">
                                <label for="password" class="text-info" [ngClass]="{ 'control-label': submitted && f.password.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.password.errors }"></i> Create New Password</label><br>
                                <input placeholder="Password" type="password" formControlName="password" class="form-control" />
                                    <div *ngIf="submitted && f.password.errors" >
                                        <span class="help-block" *ngIf="f.password.errors.required">Password is required</span>
                                        <span class="help-block" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{ 'has-error': submitted && f.password_confirmation.errors }">
                                <label for="password_confirmation" class="text-info" [ngClass]="{ 'control-label': submitted && f.password_confirmation.errors }"><i [ngClass]="{ 'fa fa-times-circle-o': submitted && f.password_confirmation.errors }"></i> Confirm Password</label><br>
                                <input placeholder="Confirm Password" type="password" formControlName="password_confirmation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
                                <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                                    <span class="help-block" *ngIf="f.password_confirmation.errors.required">Confirm Password is required</span>
                                    <span class="help-block" *ngIf="f.password_confirmation.errors.mustMatch">Passwords must match</span>
                                </div>
                            </div>
                        </div>	
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <label class="text-info">Select Interests</label>
                    </div>
                    <div style="padding:15px;" >
                        <div class="col-md-2" *ngFor="let interest of interests">
                            <div class="form-group">
                                <label style="cursor: pointer;" (click)="onAddInterest(this.interest.id)">
                                    <img class="img-check" [ngClass]="(this.myarray.includes(this.interest.id))?'check':''" width="100%;" src="https://ibigo.shadowis.nl/server-api/public/interest_images/{{this.interest.image}}">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-warning">Update</button>
                  </div>
                </form>
              </div>
              <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
        
    <!-- /.content -->
    </section>
  </div>