#login .container #login-row #login-column #login-box {
    height: 330px !important;
    margin-top: 150px !important;
}
.login-logo{
    margin-top: 10px;
    padding-top: 30px;
    background: white !important;
    margin-bottom: unset !important;
}