<body class="hold-transition login-page">
    <div class="login-box">
        <br><br><br>
      <div class="login-logo">
        <img src="/assets/images/logo1.png">
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Send password reset link to email</p>
    
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group has-feedback"  [ngClass]="{ 'has-error': submitted && f.email.errors }">
            <input type="email" formControlName="email" placeholder="Email" class="form-control"  />
            <span class="glyphicon glyphicon-envelope form-control-feedback " ></span>
            <div *ngIf="submitted && f.email.errors">
                <span class="help-block" *ngIf="f.email.errors.required">Email is required</span>
                <span class="help-block" *ngIf="f.email.errors.email">Email must be a valid email address</span>
            </div>
            
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="checkbox icheck">
                <label>
                  <!-- <input type="checkbox"> Remember Me -->
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-8">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Send Reset Password Link</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
    
        <div class="social-auth-links text-center">
          <p></p>
            
        </div>
        <!-- /.social-auth-links -->
    
        <a routerLink="/admin/login">Back to login?</a><br>
        <!-- <a href="register.html" class="text-center">Register a new membership</a> -->
    
      </div>
      <br><br><br><br>
      <!-- /.login-box-body -->
    </div>
</body>