<header class="home-header-register2">
    <div class="container heading-logo2-wrap">
        <div class="row">
            <div class="col-lg-12 heading-logo2">
                <a href="step-3.html"><img src="/assets/images/ibigo-light.png" alt="logo2"></a>
            </div>
        </div>
    </div>
    <div class="container heading-step3-wrap">
        <div class="row">
            <div class="col-lg-12 heading-form-step3">
                <div class="heading-form5">
                    <h3>Vertel Ons,<br>
            Waar liggen je interesses?</h3>
                </div>
            </div>
        </div>
            <form [formGroup]="interestForm" (ngSubmit)="onSubmit()">
            <div class="row contact-form-5-wrap">
                <div class="col-lg-3 col-sm-3 form-group" *ngFor="let interest of interests">
                    <label style="cursor: pointer;" (click)="selectInterest(this.interest.id)">
                        <img class="img-interest" [ngClass]="(this.myarray.includes(this.interest.id))?'check':''" id="{{this.interest.id}}" width="100%;" src="https://ibigo.shadowis.nl/server-api/public/interest_images/{{this.interest.image}}">

                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="step3-btn" class="form-group" data-type="submit">
                <button type="submit" class="mybtn"><i *ngIf="isloading==true" class="fa fa-spin fa fa-spinner"></i>&nbsp;afronden</button>
            </div>
            </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 nog-text">
                <p>Nog 1 stappen, je bent er bijna</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 nog-border">
                <span class="first"></span>
                <span class="first"></span>
                <span class="first"></span>
                <span class="first"></span>
                <span></span>
            </div>
        </div>
    </div>
</header>