<app-header></app-header>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Tables
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>
<section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" *ngIf="this.post.user_profile&&this.post.user_profile.indexOf('https://graph.facebook.com')==-1" src="https://ibigo.shadowis.nl/server-api/public/user_profiles/{{this.post.user_profile}}">
                      <img class="img-circle img-bordered-sm" *ngIf="!this.post.user_profile" src="/assets/front-assets/images/pic1.png">
                      <img class="img-circle img-bordered-sm" *ngIf="this.post.user_profile&&this.post.user_profile.indexOf('https://graph.facebook.com') != -1" src="{{this.post.user_profile}}">
                          <span class="username">
                            <a href="#">{{this.post.user_name}}</a>
                            <!-- <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a> -->
                          </span>
                      <span class="description">{{this.post.checked_in_datetime}}</span>
                    </div>
                    <p>{{this.post.spot_description}}</p>
                    <!-- /.user-block -->
                    <div class="row margin-bottom">
                      <!-- /.col -->
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-2" *ngFor="let pv of this.post.photos_videos">
                            <img class="img-responsive my-img" *ngIf="photos_extensions.includes(pv.split('.').pop())" src="https://ibigo.shadowis.nl/server-api/public/spot_images/{{pv}}" alt="Photo">
                            <video class="img-responsive my-img" *ngIf="video_extensions.includes(pv.split('.').pop())" controls>
                                <source  src="https://ibigo.shadowis.nl/server-api/public/spot_videos/{{pv}}" type="video/mp4">
                            </video>
                            <br>
                          </div>
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
        
                    <ul class="list-inline" >
                      <li class="pull-left">
                        <a href="#" class="link-black text-sm"><i class="fa fa-heart margin-r-5"></i> Likes
                          ({{this.likes_users}})</a></li>
                      <li class="pull-right">
                        <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                          ({{this.post.comments.length}})</a></li>
                    </ul>
                    
                    <div class="col-lg-12 post-comment active" id="post-comment{{this.post.id}}">
                        <div class="comment-box">
                            <div class="all-comment">
                                <ul>
                                    <li *ngFor="let comment of this.post.comments">
                                        <span class="comment-profile"><img src="https://ibigo.shadowis.nl/server-api/public/user_profiles/{{this.comment.comment_user_profile}}" alt="pic27"></span>
                                        <div class="comment-wrap">
                                            <div class="comment-detail" id="comment-detail{{this.comment.id}}">
                                                <a href="#" class="comment-name">{{this.comment.comment_user_name}} . <span>{{this.comment.comment_date_time}}</span></a>
                                                <span class="comment-text">{{this.comment.comment}}</span>
                                                <ul class="comment-box-option">
                                                    <li><a href="javascript:void(0)" (click)="deleteComment(this.comment.id)" class="comment-delete">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>  
        
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>
